<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Parallel Testing Suite">
    <test name = "Parallel Tests" parallel = "classes" thread-count = "1">
        <classes>
            <class name = "PIMPageTest" />
            <class name = "RecruitmentTest" />
        </classes>
    </test>
</suite>

        <!-- Now click Run > Edit Configurations > Listener > + >
        EmailableReporter > Apply > Ok
        Now Right click on testNG.xml and run it  -->
        <!-- Now we will see a new folder test-output and under that folder we'll have a html file  -->